<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="1" android:versionName="1.0"
    package="com.aeviou" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <application android:icon="@drawable/icon"
        android:label="@string/app_name" android:debuggable="true">
        <service android:name="AeviouInputMethodService" android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        </service>
        <activity android:name=".setting.SettingView"></activity>
        <activity android:theme="@android:style/Theme.Dialog" android:name=".setting.LicenseView"></activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-sdk android:minSdkVersion="7"/>
</manifest>
